<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark">
    <meta
      name="theme-color"
      content="#000000"
    >
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="canonical" href="{{ config.base_url | safe }}">
    <link rel="icon" href="/favicon.png">
    {% block page_meta %}
    <meta
      name=" description"
      content="{{ config.description | default(value='') | truncate(length=150) }}"
    >
    {% endblock page_meta %}
    {% if config.generate_feed %}
    <link
      rel="alternate"
      type={% if config.feed_filename=="atom.xml" %}"application/atom+xml"
      {% else %}"application/rss+xml"{% endif %}
      title="RSS"
      href="{{get_url(path=config.feed_filename) | safe }}">
    {% endif %}
    {% block css %}
      <link rel="stylesheet" href="/styles.css">
    {% endblock css %}
  </head>

  <body>
    <nav aria-label="Site Navigation">
      ~/
      <a href="/">home</a>
      {% block nav %}{% endblock %}
    </nav>
    <hr>
    <main>{% block content %}{% endblock %}</main>
    <hr>
    <footer>
      <p>
        <a 
          href="https://git.cleberg.io/cgit.cgi/cleberg.io.git/">
          Source Code
        </a>
        <br>
        &copy; 2016 - 2022
      </p>
      <p>> View my <a href="/salary-transparency/">salary transparency data</a>.
      <br>> Member of the 
        <a href="https://250kb.club/" target="_blank" 
           rel="noopener,noreferrer">250kb Club</a>,
        <a href="https://512kb.club/" target="_blank"
           rel="noopener,noreferrer">512kb Club</a>,
        <a href="https://1mb.club/" target="_blank" 
           rel="noopener,noreferrer">1MB Club</a>, &
        <a href="https://no-js.club" target="_blank" 
           rel="noopener,noreferrer">no-JS Club</a>.
      </p>
    </footer>
  </body>
</html>
