{% extends "base.html" %} {% block content %}
<div class="grid">
	<div class="grid-item">
		<pre class="ascii-art">
    %%%
   =====
  &%&%%%&
  %& < <% 
   &\__/
    \ |____
   .', ,  ()
  / -.  _)| 
 |_(_.    |
 '-'\  )  |
     )    |
    /  .  ).
   /    _. |
 /'---':.-'|
(__.' /    /
 \   ( /  /
  \ /  _  | 
   \  |  '|
   | . \  |
   |(     | 
   |  \ \ |
    \  )\ |
   __)/ / \
--"--(_.Ooo'----
</pre
		>
	</div>

	<div class="grid-item">
		<h1>Welcome, Netizen</h1>
		<p>
			I am a professional technology consultant, focusing on security and
			privacy. In my spare time, I am a programmer (mostly Python these
			days), data analyst, homelabber, and audiophile.
		</p>
		<p>
			Feel free to take a look at <a href="/blog/">my blog</a>,
			<a href="/projects/">my projects</a>, or reach out to me using the
			contact information below if you'd like to talk.
		</p>

		<h2>Find Me Online</h2>
		<ul>
			<li>
				Email:
				<a href="mailto:hello@cleberg.io">hello@cleberg.io</a> [<a
					href="https://keys.openpgp.org/vks/v1/by-fingerprint/3A8AA9FF8906334646ABE0CC7FA94F8154265655"
					>GPG key</a
				>]
			</li>
			<li>
				GitHub:
				<a
					href="https://github.com/christian-cleberg/"
					target="_blank"
					rel="noopener,noreferrer"
					>@christian-cleberg</a
				>
			</li>
			<li>
				Matrix:
				<a
					href="https://matrix.to/#/@kaizoku_:matrix.org"
					target="_blank"
					rel="noopener,noreferrer"
					>@kaizoku_</a
				>
			</li>
		</ul>
	</div>
</div>
{% endblock content %}
