{% extends "base.html" %} {% block content %}
<h1>Hi, I'm Christian.</h1>

<p>I am a professional technology consultant, focusing on security and privacy. In
my spare time, I am a software developer, data analyst, and homelabber.</p>

<h2>Find Me Online</h2>

<table>
    <tr><td>Email:</td><td>hello [at] cleberg.io [<a href="https://cleberg.io/gpg_key.txt">GPG Key</a>]</td></tr>
    <tr><td>GitHub:</td><td><a href="https://github.com/christian-cleberg/" target="_blank" rel="noopener,noreferrer">@christian-cleberg</a></td></tr>
    <tr><td>LinkedIn:</td><td><a href="https://linkedin.com/in/christian-cleberg" target="_blank" rel="noopener,noreferrer">@christian-cleberg</a></td></tr>
    <tr><td>Matrix:</td><td><a href="https://matrix.to/#/@kaizoku_:matrix.org" target="_blank" rel="noopener,noreferrer">@kaizoku_</a></td></tr>
    <tr><td>Stack Overflow:</td><td><a href="https://stackoverflow.com/users/12566804/christian-cleberg" target="_blank" rel="noopener,noreferrer">@christian-cleberg</a></td></tr>
</table>

<h2>Promoting a Better Internet</h2>

<p>Minimal, functional, and lightweight websites are becoming harder to find these
days, which is why my website is part of the clubs listed below.</p>

<a href="https://1mb.club" target="_blank" rel="noopener,noreferrer">1MB Club</a>
<br><a href="https://512kb.club" target="_blank" rel="noopener,noreferrer">512KB Club</a>
<br><a href="https://250kb.club" target="_blank" rel="noopener,noreferrer">250KB Club</a> (pending)
<br><a href="https://no-js.club" target="_blank" rel="noopener,noreferrer">no-JS Club</a>
{% endblock content %}
