{% extends "base.html" %}
{% block title %}
{{ page.title ~ " | " ~ config.title }}
{% endblock %}
{% block page_meta %}
<meta content="{{ page.description | safe | default(value='') }}"
      name="description">
{% endblock page_meta %}
{% block nav %}
<nav aria-label="Site Navigation">&larr; <a href="/">Return Home</a></nav>
<hr>
{% endblock nav %}
{% block content %}
<article>
  <h1>{{ page.title }}</h1>
  {% if page.date %}
  <time datetime="{{- page.date | date(format='%Y-%m-%d') -}}">
    {{- page.date | date(format="%Y.%m.%d") -}}
  </time>
  <br>
  {{ page.word_count }} words &middot; {{
  page.reading_time }} minutes {% endif %} {% if page.toc %}
  <nav aria-labelledby="page-toc">
    <h2 id="page-toc">Table of Contents</h2>
    <ul>
      {% for h1 in page.toc %}
      <li>
        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
        {% if h1.children %}
        <ul>
          {% for h2 in h1.children %}
          <li>
            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </nav>
  {{ page.content | safe }}
  {% if "blog" in page.path %}
  <aside>
    If you have any questions or comments about this post or site in general,
    feel free to <a href="mailto:hello@cleberg.net">email me</a>
    [<a href="https://cleberg.net/gpg.txt">GPG</a>].
  </aside>
  {% endif %}
</article>
{% endblock content %}
