{% extends "base.html" %} {% block title %} {{ section.title ~ " | " ~
config.title }} {% endblock %} {% block nav %}{% set path = "/" %} {% for name in section.components %} {% set_global path =
path ~ name ~ "/" %} / <a href="{{path}}">{{ name }}</a>
{% endfor %} {% endblock nav %} {% block content %}
<section>
  <h1>{{ section.title }}</h1>
  <p>Subscribe: <a href="/atom.xml">Atom RSS Feed</a></p>
  {% set current_date = "1970-01-01" | date(format="%Y") %} {% set date =
  "1970-01-01" | date(format="%Y") %} {% for page in section.pages %} {%
  set_global current_date = page.date | date(format="%Y") %} {% if current_date
  != date %} {%- set_global date = current_date -%}
  </ul><h2>{{- current_date -}}</h2><ul>
  {% endif %}
    <li>
      [<span> {{- page.date | date(format="%m.%d") -}} </span>]
      <a class="post-link" href="{{ page.permalink | safe }}">
        {{- page.title -}}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock content %}
