{% extends "base.html" %}
{% block title %}
	{{ section.title ~ " ~ " ~ config.title }}
{% endblock %}
{% block content %}

<h1>{{ section.title }}</h1>
<p>Subscribe: <a href="/atom.xml">Atom RSS Feed</a></p>
{% set current_date = "2000-01-01" | date(format="%Y") %}{% set date = "2000-01-01" | date(format="%Y") %}{% for page in section.pages %}{% set_global current_date = page.date | date(format="%Y") %}{% if current_date != date %}{%- set_global date = current_date -%}
<br><h2>{{- current_date -}}</h2>
{% endif %}
<p>{{- page.date | date(format="%Y-%m-%d") -}} &middot; <a class="post-link" href="{{ page.permalink | safe }}">{{- page.title -}}</a></p>
{% endfor %}{% endblock content %}
